body {
    flex-direction: column;
}

header {
    background-color: antiquewhite;
    color: brown;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 10px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: brown;
    padding: 5px 5px;
}

footer {
    align-self: flex-end;
    padding: 10px;
}